.fcl .sapFFCLNavigationButton, .sapUiSizeCompact .sapFFCLNavigationButton {
    visibility: hidden !important;
}
.font1_5 {
    font-size: 1.5rem !important;
}
.fontBold {
    font-weight: bold !important;
}
.font1_5 .sapMLabel {
    font-size: 1.5rem !important;
}
.font1_2 {
    font-size: 1.2rem !important;
}
.fontBlack {
    color: black !important;
}

.font1_2 .sapMLabel {
    font-size: 1.2rem !important;
}
.font0_8 {
    font-size: 0.8rem !important;
}
.font0_9 {
    font-size: 0.9rem !important;
}
.font0_7 {
    font-size: 0.7rem !important;
}
.font1 {
    font-size: 1rem !important;
}
.colorBlue {
    color: #0854a0 !important;
}
.whiteBack .sapMITBContent {
    background-color: white !important;
    padding: 0rem !important;
}
.whiteBack {
    background-color: white !important;
}
.searchHeader {
    padding: 0.2rem;
    background: inherit;
    background-color: #f3f3f3;
}
.TableMsgStrip {
    background-color: transparent !important;
    border-radius: 1rem !important;
    padding: 0.1rem 1rem !important;
    min-height: 1rem !important;
}
.borderIconTabBar .sapMITH {
    box-shadow:  0px 0px 0.5px #5554544d, 0px 3px 6px 0px #bdb9b9 inset;
    vertical-align: top;
    font-size: .75rem;
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-bottom: 1px solid #cacaca;
    position: relative;
    /* padding: 0 2rem; */
    /* padding-top: 1.1rem; */

}
.txtBoldITB .sapMITHTextContent {
    font-weight: bold !important;
    font-size: 1rem !important;
}
.fontBoldBtn .sapMColumnHeader .sapMText  {
    font-weight: bold !important;
}
.errIconBuis .sapUiIcon{
    background-color: #cc0d0d !important;
    /* cursor: default !important;
    text-align: center !important;
    display: inline-block !important;
    vertical-align: baseline !important;
    line-height: 1 !important; */
    border-radius: 1rem !important;
    color: white !important;
    right: -6.5px;
    bottom: 12px;
    position: absolute;
}
.twoIcon{
   
}
.bottomMed .sapUiIcon{
    /* z-index: 99 !important;
    position: absolute !important; */
    left: -0.5px;
    /* top: 0 !important; */
}
.marginTop0_5 {
    margin-top: 0.5rem !important;
}
.marginTop0_3 {
    margin-top: 0.3rem !important;
}
.marginTop0_1 {
    margin-top: 0.1rem !important;
}
.TableToobar {
    border-bottom: none !important;
}
.marginTopIcon0_1 .sapUiIcon{
    margin-top: 0.1rem !important;
}
.lowTxt{
    margin-right: 0.1rem;
    font-size: 0.7rem !important;
}
.lowIcon .sapUiIcon{
    margin-top: 0.3rem !important;
    margin-left: 0.1rem !important;
}
.paddingTable {
    padding-left: 2rem;
    padding-right: 2rem;
}
.OrangeText {
    color:   #d98200;
}
.btnLikeIcon .sapMBtnHoverable:hover{ 
    background: none  !important;
    border: transparent  !important;
}
.btnSave .sapMBtnInner {
    border-color: #0854a0 !important;
} 
.fontSizeBtn_1 .sapMBtnInner.sapMBtnText  {
    font-size: 1rem;
}
.fontBoldBtn .sapMBtnInner.sapMBtnText  {
    font-weight: bold;
}
.grayBBorder {
    border-bottom: 1px solid #dbdbdb;
    /* padding: 0.4rem; */
}
.datesVB{
    margin-top: 4rem;
    margin-right: 2rem;
}
.dateMarginTop .sapMFlexItem{
    margin-top: 0.55rem;
}
.checkBoxFontBold .sapMRbBLabel{
    color: black;
    font-weight: bold !important;
}
.checkBoxBlackFont .sapMRbBLabel{
    color: black;
}
.orangeColorFont{
    color: rgb(221, 147, 9);
}
.padding1 {
    padding: 1rem !important; 
}
.BlueIcon .sapMBtn .sapMBtnIcon {
    color:   #0854a0 !important;
}
.GreenIcon .sapMBtnIcon {
    color:  #038810 !important;
}
.BlueText {
    color:  #0854a4
}
.BlueTextTable .sapUiTableCell .sapMLabel{
    color:  #0854a4 !important;
}
[data-colorStockDay="R"] .sapMSltLabel{
    color: #b00 !important;
}
[data-colorStockDay="G"] .sapMSltLabel{
    color: #107E3E !important;
}
[data-colorStockDay="Y"] .sapMSltLabel{
    color: #B3590A !important;
}
[data-color="R"] {
    color: #b00 !important;
}
[data-color="G"] {
    color: #107E3E !important;
}
[data-color="Y"] {
    color: #B3590A !important;
}
.orangTxt .sapMITBFilter[data-show="X"] .sapMITBText .sapMITHTextContent {
    color:  #ef8e17 !important;
}
.Z03Color[data-colorLabor="X"]{
    color:  #0a6ed1 !important;
}
.sapUiTableRow:has(.grayRow[data-show="X"]) {
    background: #e5e5e5 !important;
}
.sapUiTableRow:has(.grayRow[data-show="Y"]) {
    background: rgb(212, 225, 243) !important;
}
.sapUiTableRow:has(.ColorRow[data-show="Y"]) {
    background: blue !important;
}
.redRow[data-showError="X"]{
    color: #b00 !important;
}
.redRow[data-showError="Y"]{
    color: black !important;
}
.blueframeNav:focus {
    border: 0.15rem solid #3c7ad4 !important;
    outline: none !important;
}
/* .blueframeNav .sapUiIcon:focus:has(.ColorRow[data-blueFrameNav="X"]) {
    border: 0.15rem solid #3c7ad4 !important;
    outline: none !important;
} */
.outlineIconNone:focus {
	outline: none !important;
}
.outlineIconNone .sapUiIcon:focus{
	outline: none !important;
}
.margin_0_2 {
    margin-top: 0.2rem;
    margin-right: 0.2rem;
}
.GrayBack {
    background-color: #eff2f3e2 !important;
}
.greenFrame [data-amount="X"] .sapMInputBaseContentWrapper {
    /* border: 3px solid #499bf1 !important; */
    background-color: #b7ddb2 !important;
}
.headerBlue .sapUiTableHeaderDataCell  {
    background-color: #daeaf7 !important;
}
.tableNonBroder .sapUiTableCell{
    border-left: none !important;
}
.detailHeader .sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {
    border-bottom: 1px solid #cacaca;
    height: 10rem;
    background: inherit;
    background-color: #f3f3f3;
    box-shadow:  0px 0px 0.5px #5554544d, 0px 3px 6px 0px #bdb9b9;
}
.whiteBack .sapUxAPObjectPageWrapper {
    background-color: white !important;
}
.whiteBack .sapMITBContent {
    background-color: white !important;
}
.whiteBack {
    background-color: white !important;
}
.blockPadding .sapUxAPBlockContainer {
    padding: 0rem 0rem 0rem 0rem !important;
}
.borderRight{
    border-right: 1px solid #000000;
    padding-right: 1rem;
}
.DetailTabs .sapMITH {
    background-color: transparent;
    border-bottom: 0.125rem solid #e5e5e5 !important;
    box-shadow:none;
    padding: 0rem 0rem 0rem 0rem !important;
  
  }
.BorderTab .sapMITBContent {
    border:none !important;
}
.TabText .sapMITBFilter .sapMITBText {
    white-space: pre-wrap !important;
    width: 7rem !important;
    margin-right: -0.5rem !important;
}
.TabText .sapMITBFilterDefault {
    margin-right: 1rem !important;
}
.navBtn .sapMBtnHoverable{ 
    border: transparent  !important;
    background: none  !important;
}
.borderRight {
    border-right: 0.1rem solid #000000 !important;
    padding-right: 1rem !important;
}
.FormTitle .sapUiFormTitle {
    border-color: transparent;
    font-weight: bold;
    color: black;
}
.historyList .sapMLIB {
    border: none !important;
}
.lineBack {
    background-color: #6A6D70;
}
.borderBox {
    border: 1px solid #b5b5b5 !important;
}
.padding0_5 {
    padding: 0.5rem;
}
.redText[data-show="X"] {
    color:  #c00017;
    font-weight: bold;
}
.redTextColor {
    color:  #c00017 !important;
}
.greenText {
    color: green !important;
}
.TableMsgStrip {
    background-color: transparent !important;
    border-radius: 1rem !important;
    padding: 0rem 1rem !important;
    min-height: 1rem !important;   
}
.marginTopLink {
    margin-top: 0.1rem !important;
}